body {
    text-align: center;
    /* background url sourced from dota2.com */
    background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//home/heroes_full.jpg),
        radial-gradient(crimson, black);
    background-color: crimson;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: whitesmoke;
    font-family: 'Inter Tight', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

footer {
    color: black;
    background-color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.heading-block {
    color: white;
    background-color: rgb(62, 66, 70);
    border-radius: 20%;
    border: 2px gold solid;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#question-image {
    width: 150px;
    height: 150px;
    border-radius: 40%;
    background-color: black;
    border: 4px solid gold;
}

#answer1:hover, #answer2:hover {
    cursor: pointer;
    border: 2px solid white;
}